body{
    background-image: url(../img/bgOverlay.jpg);
    transform: translate3d(0,0,0);
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    font-size: 16px;
}

body > div{
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) );
    display: flex;
    justify-content: center;
    padding: 0px !important;
}

.main-content{  
    box-shadow: 0 2px 7px #888888;
    background: #21201E;
    padding: 0px; 
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 10;
}

.nav-item{
    color: #D3D3D3;
    padding: 5px 15px; 
    cursor: pointer;
    font-size: 20px;
}

.nav-item:hover{
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.logo > div{
    transition: opacity 3s;
    opacity: 0;  
}

.logo > div > img{
    padding: 40px;
    width: 100%;
}

.content-box-1{
    background: #F8F1EC;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-box-2{
    background-image: url('../img/main2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu{
    text-align: center;
    color: white;
    padding: 20px 0px;
}

.menu-nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu-nav-item{
    width: 100px;
    cursor: pointer;
}

.menu-nav-item.selected{
    color: rgb(175, 31, 48);
}

.pointer{
    background-color: inherit;
    height: 14px;
    padding: 0px;
    z-index: 3;
}

.pointer-circle{
    float: left;
    background-color: #AF1F30;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: solid #E3DEDA 2px;
    transition: margin-left 0.7s;
}

.pointer-line{
    height: 7px;
    border-bottom-style: solid;
    border-color: #F8F1EC;
    border-width: thin;
    width: 100%;
    margin-top: -7px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-bottom: 20px solid #7F1722;
    transition: margin-left 0.7s;
}

.menu-content{
    padding: 0px;
    margin-top: 30px;
    margin-left: 4.16%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.swiper-slide{
    background: #7F1722;
    height: 100%;
}

.menu-item{
    display: flex;
    align-items: center;
}

.menu-item-row{
    text-align: start;
}

.galery{
    text-align: center;
    color: white;
    padding: 0px;
    padding: 15px;
}

.galery > div{
    margin: 10px 0px;
}

.gallery-action > button{
    background: #F8F1EC;
    color: #161513;
    border: none;
    padding: 8px 15px;
    border-right: 2px;
    margin-top: 10px;
}

.location-container{
    padding: 30px;
    background: #F8F1EC;
    color: #161513;
    text-align: center;
}

.location{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    margin-top: 20px;
    color : black;
    padding: 0px;
    margin-bottom: 20px;
}

.location-open{
    background: #21201E;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-open i{
    margin-right: 6px;
}

.location-map{
    padding: 0px;
    margin-bottom: -10px;
}

