body{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    padding-right: 0px !important;
}

/* Header Start */

.header{
    background: url('../img/main-background.jpg');
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    display: none;
}

.header > img{
    position: relative;
    z-index: 5;
    transition: opacity 3s;
    opacity: 0;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    left: 0px;
}

.nav-item{
    color: #D3D3D3;
    padding: 5px 15px; 
    cursor: pointer;
    font-size: 20px;
}

.nav-item:hover{
    color: white;;
}

.nav-mobile{
    display: none;
}

.nav-items-mobile{
    display: none;
}

/* Header End*/

/* Sharred Start */

.main-container{
    justify-content: center;
    background: #f2f2f2;
    padding: 0px;
    display: none;
}

.main-content{
    margin: auto;
    padding: 15px 0px;
}

.content-box{
    margin: 15px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 0px;
}

.loading{
    text-align: center;
}

.loading span{
    font-size: 26px;
    font-weight: 600;
}

.loading img{
    margin-top: 50px;
    margin-bottom: 10px;
}

/* Sharred End */

/* Offer Start */

.offer-text{
    background: white; 
    display: flex; 
    justify-content: center;    
    align-items: center;    
    text-align: center;
    flex-direction: column;
    font-size: 21px;
}

.offer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#offer .offer-img{
    background: url('../img/special.jpg');
    background-size: cover;
    background-position: top left;
}

#delivery .offer-img{
    background: url('../img/delivery.jpg');
    background-size: cover;
    background-position: top left;
}

#delivery .offer-text{
    padding: 0px 40px;
}

.offer-delivery{
    background-position: top right;
}

/* Offer End */

/* Menu Start */

.menu{
    background: #21201E;
    text-align: center;
    color: white;
    padding: 40px 0px;
}

.menu > h1{
    margin-top: 0px;
}

.menu-nav{
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content: space-between;
}

.menu-nav-item{
    padding: 5px 0px;
    cursor: pointer;
    font-size: 17px;
}

.menu-nav-item.selected{
    color: rgb(175, 31, 48);
}

.menu-nav-mobile{
    color: black;
}

.menu-nav-mobile select{
    width: 100%;
    padding: 8px 25px 8px 15px;
    background: white url(../img/select-dropdown.png) right 0 no-repeat;
    border-radius: 3px;
    border: solid thin gray;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.pointer{
    background-color: inherit;
    height: 14px;
    padding: 0px;
    z-index: 3;
}

.pointer-circle{
    float: left;
    background-color: #AF1F30;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: solid #E3DEDA 2px;
    transition: margin-left 0.7s;
}

.pointer-line{
    height: 7px;
    border-bottom-style: solid;
    border-color: white;
    border-width: thin;
    width: 100%;
    margin-top: -7px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    border-bottom: 20px solid white;
    transition: margin-left 0.7s;
    width: 40px;
}

.menu-content{
    padding: 0px;
    width: 100%;
    margin-top: 20px;
}

.swiper-slide{
    height: 100%;
}

.card {
    background: white;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 1rem;
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cards > div, .cards{
    padding: 0px;   
}

.card h3{
    margin-top: 10px;
    font-size: 22px;
}

.meal-items{
    font-style: italic;
}

.meal-cost{
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
}

.meal-cost i{
    font-size: 15px;
}

.lunch{
    text-align: start;
    padding: 15px 35px;
}

.lunch > div{
    padding: 20px;
}

.lunch-row{
    border-bottom: dotted 1px white;;
    padding: 0px;
    margin: 9px 0px;
}

.lunch-row.last{
    border-bottom: none;
}

.lunch-number{
    padding: 0px;
    color: #EBC478;
}

.lunch-title{
    padding: 0px;
}

.lunch-cost{
    text-align: right;
    padding: 0px;
}

/* Menu End */

/* Gallery Start */

.galery{
    text-align: center;
    background: #21201E; 
    color: white;   
    padding: 0px;
    padding: 15px;
}

.galery > div{
    margin: 10px 0px;
    padding: 0px 10px;
}

.gallery-action > button{
    background: white;
    color: #161513;
    border: none;
    padding: 8px 15px;
    border-right: 2px;
    margin-top: 10px;
}

/* Gallry End*/

/* Location Start */

.location-container{
    padding: 30px;
    background: white;
    color: #161513;
    text-align: center;
}

.location{
    text-align: center;
    margin-top: 20px;
    color : black;
    padding: 0px;
    margin-bottom: 20px;
}

.location-open{
    color: #161513;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
}

.location-open i{
    margin-right: 6px;
}

.location-map{
    padding: 0px;
    margin-bottom: -10px;
    display: flex;
}

.location-open-row{
    text-align: left;
    border-bottom: solid thin #161513;
    padding: 20px 10px;
    font-size: 17px;
}

.location-open-row h2{
    margin-top: 0px;
}

/* Location End */

/* About Start */

.about{
    color: white;;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #21201E;
}

.about h1{
    margin-top: 0px;
}

.about h1{
    margin-bottom: 30px;
}

.about-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About End */

/* Modal Start */

.modal-dialog{
    width: 90%;
    height: 90%;
    margin: 2.5% auto;
    border-right: 3px;
}

.modal-content{
    height: 100%;
    border-right: 3px;
    background: #21201E;
}

.modal-content i{
    opacity: 0.8;
}

.modal-content i:hover{
    opacity: 1;
}

.modal-content i{
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

.modal.in .modal-dialog{
    overflow: hidden;
}

.swiper-container2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-content .swiper-slide{
    padding-bottom: 0px;
}

.swiper-slide{
    padding-bottom: 20px;
}

.swiper-container2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #21201E;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active{
    background: #7F1722;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%237F1722'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%237F1722'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    margin: 0px 10px !important;
    background: #7F1722;
    opacity: .7;
}

#packman{
	z-index: 20;
    position: absolute; 
    transition: left 0.3s ease-in-out 0.2s, transform 1s; 
    width: 20px; 
    height: 20px; 
    transform: translate(55.0163px, -5px); 
    top: -30px; 
    left: 5px;
}

#topMouth{
    position: absolute; 
    width: 20px; 
    height: 10px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    background: white;
}

#bottomMouth{
    position: absolute; 
    width: 20px; 
    height: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    background: white; 
    top: 10px;
}

@keyframes pacmanTopFrames {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-30deg);
	}
}

@keyframes pacmanBottomFrames {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(30deg);
	}
}

@keyframes pacmanTopFramesBis {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(30deg);
	}
}

@keyframes pacmanBottomFramesBis {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-30deg);
	}
}

/* Modal End */